:root {
    --red-main: #e21818;
    --white-main: #ffffff;
    --white-second-b: #e7e8eb;
}

@font-face {
    font-family: 'GillSans'; /* Nama font yang akan digunakan */
    src: url('../assets/fonts/Gill-Sans-Font-Family/Gill Sans.otf') format('truetype'); /* Path ke file font */
    /* Optional: tambahkan properti lain seperti font-weight, font-style jika diperlukan */
}


.loginBG {
    height: 100vh;
    padding: 3rem;
    background-image: url(../assets/img/UIUX\ HEKETON.png);
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.homeBG {
    height: 100vh;
    padding: 20px;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.carousels{
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 0.5px;
    border-radius: 15px;
}

.center-card{
    height: 80vh;
    display: flex;
    justify-content: end;
    align-items: end;
    
}

.site-logo {
    width: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title{
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-align: center;
    padding-bottom: 30px;
    /* text-shadow:#e21818; */
}

.logbutton{
    display: flex;
    justify-items: center;
    justify-content: center;
    padding: 10px;
}

.nextbutton{
    border-radius: 10px;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Atur jarak dari form */
}

.image {
    width: 40px; /* Sesuaikan ukuran logo sesuai kebutuhan */
    margin: 0 10px; /* Atur jarak antara logo */
}

.image:hover {
    cursor: pointer;
}

.link-container {
    text-align: center; /* Mengatur teks agar berada di tengah */
    margin-top: 10px; /* Atur jarak dari form */
}



.card-link {
    display: block; /* Membuat link menjadi blok untuk tumpukan vertikal */
    margin-bottom: 5px; /* Atur jarak antara link */
}



.bold-text {
    font-weight: bold;
}

.card {
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Mengatur tata letak elemen di dalam card menjadi vertikal */
    align-items: center; /* Mengatur elemen di dalam card agar berada di tengah secara horizontal */
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2) !important;
    border-style: solid !important;
    border-width: 0.5px !important;
    border-radius: 50px !important;

}


.nextbutton {
    margin-top: 20px; /* Atur jarak antara form dan tombol */
    text-align: center; /* Mengatur teks tombol agar berada di tengah */
}

.form-border {
    border-width: 2px; /* Atur lebar border sesuai kebutuhan */
    border-style: solid; /* Pilih style border, misalnya solid */
}

.custom-dropdown {
    color: #ffffff; /* Warna teks */
    font-size: 16px; /* Ukuran teks */
    background-color: #9065e7; /* Warna background */
    border-color: #9065e7; /* Warna border */
    border-radius: 10px; /* Radius border */
    width: 250px; /* Lebar dropdown yang diperbesar */
    padding: 8px; /* Padding untuk isi dropdown */
}

.custom-dropdown option {
    color: #000000; /* Warna teks opsi */
    font-size: 14px; /* Ukuran teks opsi */
}