@font-face {
    font-family: 'GillSans'; /* Nama font yang akan digunakan */
    src: url('../assets/fonts/Gill-Sans-Font-Family/Gill Sans.otf') format('truetype'); /* Path ke file font */
    /* Optional: tambahkan properti lain seperti font-weight, font-style jika diperlukan */
}
.myBG {
    height: 100vh;
    background-image: url(../assets/img/UIUX\ HEKETON.png);
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.center-card{
    height: 80vh;
    display: flex;
    justify-content: end;
    align-items: end;
    
}

.site-logo {
    width: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title{
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-align: center;
    padding-bottom: 30px;
}

.logbutton{
    display: flex;
    justify-items: center;
    justify-content: center;
    padding: 10px;
}

.nextbutton{
    border-radius: 10px;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Atur jarak dari form */
}

.image {
    width: 40px; /* Sesuaikan ukuran logo sesuai kebutuhan */
    margin: 0 10px; /* Atur jarak antara logo */
}

.image:hover {
    cursor: pointer;
}

.link-container {
    text-align: center; /* Mengatur teks agar berada di tengah */
    margin-top: 10px; /* Atur jarak dari form */
}

.card-link {
    display: block; /* Membuat link menjadi blok untuk tumpukan vertikal */
    margin-bottom: 5px; /* Atur jarak antara link */
}


.bold-text {
    font-weight: bold;
}

.card {
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Mengatur tata letak elemen di dalam card menjadi vertikal */
    align-items: center; /* Mengatur elemen di dalam card agar berada di tengah secara horizontal */
}

.card-content {
    flex-grow: 1; /* Mengatur agar card-content menempati sisa ruang di dalam card */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Mengatur agar elemen di dalam card-content terdistribusi secara merata */
    padding: 20px; /* Atur padding agar konten tidak terlalu dekat dengan tepi card */
}

.nextbutton {
    margin-top: 20px; /* Atur jarak antara form dan tombol */
    text-align: center; /* Mengatur teks tombol agar berada di tengah */
}

.form-border {
    border-width: 2px; /* Atur lebar border sesuai kebutuhan */
    border-style: solid; /* Pilih style border, misalnya solid */
}

